# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [31]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl
import matplotlib.pyplot as plt

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [32]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/superstore_retail_orders.csv')

print (df)

Mounted at /content/gdrive
      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id  order_date  customer_id.1  \
0                DE       19805.0      1001  2020-01-11             67
1                AL       35810.0      1002  2019-11-22            201
2                CA       92612.0      1003  2019-09-17             45
3                VA       23293.0      1004  2019-12-09            106
4                VA       23293.0      1005  2019-06-08            357
...              ...          ...       ...         ...            ...
9564  Pennsylvania            NaN      8143  2021-06-13            637
9565             NY       12210.0      8144  2021-06-16            370
9566     California       94064.0      8145  2021-05-09            598
9567  Massachusetts        2472.0      8146  2021-04-13            737
9568       Maryland       20883.0      8147  2021-03-21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9564        8143         113      16.0           113          Extension cord
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

     product_price total_amount order_year_month order_month
0            $1.99        $5.97          2020-01    January
1           $85.98      $171.96          2019-11   November
2            $3.99       $19.95          2019-09   September
3            $1.99       $15.92          2019-12   December
4            $3.99       $27.93          2019-06       June
...            ...          ...              ...         ...
9564        $15.59      $249.44          2021-06       June
9565       $749.99      $749.99          2021-06       June
9566       $329.99      $329.99          2021-05        May
9567        $15.59       $31.18          2021-04      April
9568        $15.59       $77.95          2021-03      March

[9569 rows x 18 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9569 entries, 0 to 9568
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       9569 non-null   int64
 1   customer_name     9569 non-null   object
 2   address_line_1    9448 non-null   object
 3   city              9516 non-null   object
 4   state_province    9569 non-null   object
 5   postal_code       9416 non-null   float64
 6   order_id          9569 non-null   int64
 7   order_date        9312 non-null   object
 8   customer_id.1     9569 non-null   int64
 9   order_id.1        9569 non-null   int64
 10  product_id        9569 non-null   int64
 11  quantity          9513 non-null   float64
 12  product_id.1      9569 non-null   int64
 13  product_name      9569 non-null   object
 14  product_price     9569 non-null   object
 15  total_amount      9513 non-null   object
 16  order_year_month  9312 non-null   object
 17  order_month       9312 non-null   object
dtypes: float64(2), int64(6), object(10)
memory usage: 1.3+ MB

## Prepare Data

➡️ Assignment Tasks
- Convert the Total_Amount into a number (not a string)
- Remove rows with empty (NULL) values
- Optional: Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [34]:
df = pd.read_csv('/content/superstore_retail_orders.csv')

df['total_amount'] = df['total_amount'].astype(str).str.replace('$','')
df['total_amount'] = pd.to_numeric(df['total_amount'], errors='coerce')

df = df.dropna()

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8768 entries, 0 to 9568
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       8768 non-null   int64
 1   customer_name     8768 non-null   object
 2   address_line_1    8768 non-null   object
 3   city              8768 non-null   object
 4   state_province    8768 non-null   object
 5   postal_code       8768 non-null   float64
 6   order_id          8768 non-null   int64
 7   order_date        8768 non-null   object
 8   customer_id.1     8768 non-null   int64
 9   order_id.1        8768 non-null   int64
 10  product_id        8768 non-null   int64
 11  quantity          8768 non-null   float64
 12  product_id.1      8768 non-null   int64
 13  product_name      8768 non-null   object
 14  product_price     8768 non-null   object
 15  total_amount      8768 non-null   float64
 16  order_year_month  8768 non-null   object
 17  order_month       8768 non-null   object
dtypes: float64(3), int64(6), object(9)
memory usage: 1.3+ MB

<ipython-input-34-eec6c57bac28>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['total_amount'] = df['total_amount'].astype(str).str.replace('$','')

## Summarize Data

➡️ Assignment Tasks
- Display the average price per month
- Display the total revenue for all months

In [35]:
average_price_per_month = df.groupby('order_month')['total_amount'].mean()
print("Average Price Per Month:")
print(average_price_per_month)

Average Price Per Month:
order_month
April        322.324759
August       317.430445
December     308.411832
February     306.211115
January      292.060346
July         293.337456
June         329.207158
March        303.960014
May          311.296518
November     302.205572
October      349.624011
September    323.528796
Name: total_amount, dtype: float64

In [38]:
total_revenue_all_months = df['total_amount'].sum()
print("\nTotal Revenue for All Months:", total_revenue_all_months)

Total Revenue for All Months: 2748529.89